<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CafeApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RouterActivity"
            android:exported="false" />
        <activity
            android:name=".SetupActivity"
            android:exported="false" />
        <activity android:name=".feature.staff.StaffActivity" />
        <activity android:name=".feature.staff.StaffDashboardActivity" />
        <activity android:name=".feature.staff.ActiveOrdersActivity" />
        <activity android:name=".feature.staff.CartDetailActivity" />
        <activity android:name=".feature.staff.StaffTableStatusActivity" />
        <activity android:name=".feature.admin.AdminActivity" />
        <activity android:name=".feature.admin.ManageStockActivity" />
        <activity android:name=".feature.admin.ManageTablesActivity" />
    </application>

</manifest>